<!DOCTYPE html>
<html>
	<head>
		<title>Cards</title>

		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<script src="./pixi/pixi.js"></script>
	<script type="module" src="./src/main.js"></script>

	<body>
		<div id="app">
			<div id="ui" v-if="!gameStarted">
				<h1>BigTwo</h1>
				<div id="titleContainer" v-if="submittedName">
					
					<br>
					<br>
					<br>
					<br>
					<div id="submitName">
						
						<input id="inputName" @keyup.enter="updateName()" v-model="username" placeholder="Enter Username">
						<br>
						<br>
						<button @click="updateName()">Play</button>
					</div>

					<br>
					<br>
					<br>
					<h4>Made by: YummyBlaBla</h4>
				</div>
				<div v-else>

					<div id="roomsContainer">
						<div id="room" v-if="inGameLobby">
							<button class="roomButton" @click="leaveRoom()"><h3>Leave Room</h3></button>
							<button class="roomButton" v-if="isHost" @click="startGame()"><h3>Start Game</h3></button>
							<div>
								<h1>Room {{ currentRoomNumber }}</h1>
								<br>
								<h4 class="playerNames" v-for="player in getPlayerNames">{{ player.name }}<span v-if="player.host"> - Host</span></h4>
							</div>
						</div>

						<h2 v-else v-for="room in rooms" class="roomTabs" :key="room.index" @click="requestJoin(room.index)">Room {{ room.index }} - {{ Object.keys(room.players).length }}/4 {{ room.started ? "- Started" : ""}}
						</h2>
					</div>
	
				</div>
			</div>
			
			
		</div>
		<div id="game"></div>

	</body>
	
</html>